export PATH="$PWD/javascript/packages/linter/bin:$PATH"
export PATH="$PWD/javascript/packages/printer/bin:$PATH"
export PATH="$PWD/javascript/packages/formatter/bin:$PATH"
export PATH="$PWD/javascript/packages/language-server/bin:$PATH"
export PATH="$PWD/javascript/packages/highlighter/bin:$PATH"
export PATH="$PWD/javascript/packages/stimulus-lint/bin:$PATH"
export PATH="$PWD/java/bin:$PATH"
