# Docs
.vitepress/dist
.vitepress/cache

# ERBX output
/erbx
/run_erbx_tests

# ERBX Ruby extension
/ext/erbx/extconf.h
/ext/erbx/erbx.bundle
/ext/erbx/Makefile
/lib/erbx/erbx.bundle

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.bundle

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temporary files
tmp/*

# Bundler Config
!/.bundle/config

# Bundler
vendor/*
vendor/bundle/*
vendor/cache/*

# Bundled .gem files
pkg/*

# Templated Files
ext/erbx/nodes.c
ext/erbx/nodes.h
lib/erbx/ast/nodes.rb
src/ast_nodes.c
src/ast_pretty_print.c
src/include/ast_nodes.h
src/include/ast_pretty_print.h
