# Docs
.vitepress/dist
.vitepress/cache

# ERBx output
/erbx
/run_erbx_tests

# ERBx Ruby extension
/ext/erbx/extconf.h
/ext/erbx/erbx.bundle
/ext/erbx/Makefile
/lib/erbx/erbx.bundle

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
