# Docs
.vitepress/dist
.vitepress/cache

# Herb output
/herb
/run_herb_tests

# Herb Ruby extension
/ext/herb/extconf.h
/ext/herb/herb.bundle
/ext/herb/Makefile
/lib/herb/herb.bundle

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.bundle

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temporary files
tmp/*

# Bundler Config
!/.bundle/config

# Bundler
vendor/*
vendor/bundle/*
vendor/cache/*

# Bundled .gem files
pkg/*

# Templated Files
ext/herb/error_helpers.c
ext/herb/error_helpers.h
ext/herb/nodes.c
ext/herb/nodes.h
javascript/packages/core/src/errors.ts
javascript/packages/core/src/nodes.ts
javascript/packages/node/extension/error_helpers.cpp
javascript/packages/node/extension/error_helpers.h
javascript/packages/node/extension/nodes.cpp
javascript/packages/node/extension/nodes.h
lib/herb/ast/nodes.rb
lib/herb/errors.rb
src/ast_nodes.c
src/ast_pretty_print.c
src/errors.c
src/include/ast_nodes.h
src/include/ast_pretty_print.h
src/include/errors.h
src/visitor.c
wasm/error_helpers.cpp
wasm/error_helpers.h
wasm/nodes.cpp
wasm/nodes.h

# NX Monorepo
.nx/
.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Vitest
**/test/__screenshots__/**/*

# Doxygen
docs/docs/public/c-reference
