:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

json-viewer::part(key) {
  margin-right: 10px;
}

.language-tree .token.node {
  color: #e5c07b;
  font-weight: bold;
}

.language-tree .token.namedspaced_class {
  color: #e5c07b;
}

.language-tree .token.location {
  color: #abb2bf;
  font-style: italic;
}

.language-tree .token.tree-symbol {
  color: #abb2bf;
}

.language-tree .token.property {
  color: white;
}

.language-tree .token.error-class {
  color: #e06c75;
  font-weight: bold;
}

.language-tree .token.number {
  color: #d19a66;
}

.language-tree .token.string {
  color: #90b874;
}

.language-tree .token.tree-null {
  color: #c678dd;
}

.language-tree .token.count {
  color: #607d8b;
  font-style: italic;
}

.language-tree .token.boolean {
  color: #d19a66;
  font-weight: bold;
}

pre.language-tree {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  padding: 1rem;
  border-radius: 4px;
  overflow: auto;
  line-height: 1.4;
  background: #282d33;
}

code.language-tree {
  font-size: 14px;
  white-space: pre;
}

light-editor::part(base) {
  border: none;
  height: 100%;
}
