name: JavaScript

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    env:
      GH_TOKEN: ${{ github.token }}

    runs-on: ubicloud-standard-2
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"

      - name: Add LLVM apt Repo
        run: |-
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs)-21 main"
          sudo apt update

      - name: Install APT dependencies
        run: xargs sudo apt-get install -y --no-install-recommends < Aptfile

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: bundle install
        run: bundle install

      - name: Render Templates
        run: bundle exec rake templates

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"

      - name: yarn install
        run: yarn install --frozen-lockfile

      - name: Install Playwright browsers
        run: yarn playwright install

      - name: Run `build` for all NX packages
        run: yarn build

      - name: Run `test` for all NX packages
        run: yarn test

      # NX is not able to properly detect affected changes if things change in C source or the WASM build
      #
      # - name: Set NX SHAs
      #   uses: nrwl/nx-set-shas@v4
      #
      # # Nx Affected runs only tasks affected by the changes in this PR/commit. Learn more: https://nx.dev/ci/features/affected
      # - run: npx nx affected -t build
      # - run: npx nx affected -t test
